<aside>
    <form #f = "ngForm" (ngSubmit) = "onSubmit(f)">
    <select name = 'selectedUrl' ngModel>
            <option *ngFor="let category of urlOptions"  [value]='category.valueUrl' [text]='category.optionText'>
                {{category.optionText}}
            </option>
    </select>
    <input name='width' placeholder = 'width' required ngModel>
    <input name='height' placeholder = 'height' required ngModel>
    <button type = "submit"> Submit </button>
    <img [src] = 'selectedUrl'/>
    </form>
    
</aside>

