<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! 
  </h1>
</div>
<div>
  <ul>
    <li *ngFor = 'let item of usersModel'>{{item.id}} {{item.name}} {{item.email}}</li>
  </ul>
</div>
<aside>
  <form #f = "ngForm" (ngSubmit) = "onSubmit(f)">
  <select name = 'selectedUser' ngModel>
          <option *ngFor="let item of usersModel"  [value]='item.id' [text]='item.name'>
              {{item.name}}
          </option>
  </select>
  <button type = "submit"> Submit </button>
  </form>
</aside>
<br>
<div>
  <form #f1 = "ngForm" (ngSubmit) = "onChange(f1)" >
  <label> Selected User ID: </label>
  <label [(ngModel)] = 'userModel.id' name = id  ngDefaultControl [disabled] = disabled>{{userModel.id}}</label><br>
  <label> Selected User Name: </label>
  <input [(ngModel)] = 'userModel.name' name = name ngDefaultControl [disabled] = disabled ><br>
  <label> Selected User Email: </label>
  <input [(ngModel)] = 'userModel.email' name = email ngDefaultControl [disabled] = disabled><br>
  <label> Selected User City: </label>
  <input [(ngModel)] = 'userModel.address.city' name = city ngDefaultControl [disabled] = disabled><br>
  <label> Selected User Company: </label>
  <input [(ngModel)] = 'userModel.company.name' name = company ngDefaultControl [disabled] = disabled><br>
  <button type = "button"  (click) = "onEdit($event)"> Edit </button>
  <button type = "submit"> Submit </button>
  </form>
</div>


